@model InternshipFinalProject_Core.HelperClasses.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}
<div class="container mt-5">
    <h4>Forgot Password</h4>
    <form id="forgotPasswordForm">
        <div class="mb-3">
            <label>Email</label>
            <input type="email"  class="form-control" id="emailInput" required />
        </div>
        <p class="text-success"id="message"></p>
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#forgotPasswordForm").submit(function (e) {
            e.preventDefault();

            var email = $("#emailInput").val();

            $.ajax({
                type: "POST",
                url: "/Home/ForgotPassword",
                data: { Email: email },
                success: function (response) {
                    $("#message").text("If your email exists, a reset link has been sent.");
                     $("#emailInput").val("");
                },
                error: function () {
                    alert("Error sending reset link. Try again later.");
                }
            });
        });
    });
</script>