
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";

}
@model InternshipFinalProject_Core.HelperClasses.ResetPasswordViewModel

<div class="container mt-5">
    <h4>Reset Password</h4>
    <form asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="Token" />
        <div class="mb-3">
            <label>Email</label>
            <input type="email" asp-for="Email" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>New Password</label>
            <input type="password" asp-for="NewPassword" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info mt-3">@ViewBag.Message</div>
    }
</div>
