@model IEnumerable<InternshipFinalProject_Core.Models.AppointmentModel>

<div class="container-fluid py-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="fw-bold">My Appointments</h4>
      
    </div>

    <div class="card shadow-sm border-0 rounded-4 mb-4">
        <div class="card-body">
            <div class="row g-3 align-items-center">
                <div class="col-md-4">
                    <select class="form-select" id="filterStatus">
                        <option value="" selected>--Status--</option>
                        <option value="0">Pending</option>
                        <option value="1">Confirmed</option>
                        <option value="2">Cancelled</option>
                        <option value="3">Completed</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <select class="form-select" id="filterMode">
                        <option value="" selected>--Appointment Mode--</option>
                        <option value="Audio Call">Audio Call</option>
                        <option value="Video Call">Video Call</option>
                        <option value="Direct Visit">Direct Visit</option>
                    </select>
                </div>

                <div class="col-md-4 d-flex justify-content-end">
                    <button class="btn btn-outline-secondary me-2" id="resetFilters" type="submit">Reset</button>
                    <button class="btn btn-info" id="saveFilters" type="submit">Apply</button>
                </div>
            </div>
        </div>
    </div>

    <div id="appointmentList">
        
         <partial name="MyAppointmentListPartialView" model="Model" />
    </div>
</div>


<div class="modal fade" id="viewAppointmentModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow-lg">
            <div class="modal-header bg-info ">
                <h5 class="modal-title">Appointment Details</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Doctor:</strong><span id="viewDoctor"></span>
                    </li>
                    <li class="list-group-item">
                        <strong>Patient:  </strong> <span id="viewPatient"></span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date & Time:  </strong> <span id="viewDate"></span>
                    </li>
                    <li class="list-group-item">
                        <strong>Status:  </strong> <span id="viewStatus"></span>
                    </li>
                    <li class="list-group-item">
                        <strong>Consultation Fee:  </strong> <span id="viewFees"></span>
                    </li>
                    <li class="list-group-item">
                        <strong>Appointment Mode:  </strong> <span id="viewMode"></span>
                    </li>
                    <li class="list-group-item">
                        <strong>Notes:  </strong> <span id="viewNotes"></span>
                    </li>
                    <li class="list-group-item">
                        <strong>Created At:  </strong> <span id="viewCreatedAt"></span>
                    </li>
                    <li class="list-group-item">
                        <strong>Updated At:  </strong> <span id="viewUpdatedAt"></span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary rounded-3" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editAppointmentModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow-lg">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Reschedule Appointment</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="editAppointmentForm">
                    <input type="hidden" id="editAppointmentId" />
                    <div class="mb-3">
                        <div class="col-md-12">
                            <label class="form-label fw-semibold" for="editDoctorName">Doctor Name</label>
                            <input type="text" class="form-control" readonly id="editDoctorName" />
                            <input hidden id="editDoctorId"/>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label fw-semibold" for="editSpecialization">Department</label>
                            <input type="text" class="form-control" readonly id="editSpecialization" />
                        </div>

                        <div class="col-md-12">
                            <label class="form-label fw-semibold" for="editPatientName">Patient Name</label>
                            <input type="text" class="form-control" placeholder="Enter patient name" id="editPatientName" />
                            <input hidden id="editPatientId" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="status">Appointment Mode</label>
                            <select class="form-select rounded-3" id="editMode">
                                <option value="" selected>--Mode--</option>
                                <option value="Audio Call">Audio Call</option>
                                <option value="Direct Visit">Direct Visit</option>
                                <option value="Video Call">Video Call</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label fw-semibold">Appointment Date & Time</label>
                            <input type="datetime-local" class="form-control" id="editDate" />
                        </div>
                    

                        <div class="col-md-12">
                            <label class="form-label fw-semibold" for="editNotes">Notes</label>
                            <textarea class="form-control" rows="3" placeholder="Enter any additional notes or symptoms" id="editNotes"></textarea>
                        </div>
                        </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary rounded-3" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-info rounded-3" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="invoiceModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow-lg">
            <div class="modal-header bg-secondary text-white border-0">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-4">

                <div class="text-center mb-4 border-bottom pb-2" style="border-color:#0000 !important;">
                    <div class="d-flex justify-content-center align-items-center mb-2 gap-2">
                        <img src="../assets/img/icons/brands/Stetho-logo.jpeg" alt="CareSlot Logo"
                             style="width: 60px; height: auto;">
                        <h3 class="fw-bold text-dark mb-0">CareSlot</h3>
                    </div>

                    <p class="text-muted mb-3">Providing healthcare solutions with care and technology</p>

                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <p class="mb-1"><strong>Bill To:</strong> <span id="invoicePatientName"></span></p>
                        <p class="mb-1"><strong>Address:</strong> <span id="invoicePatientAddress"></span></p>

                    </div>
                    <div class="col-md-6 text-end">
                        <p class="mb-1"><strong>Invoice Date:</strong> <span id="invoiceDate"></span></p>
                        <p class="mb-0"><strong>Due Date:</strong> <span id="invoiceDueDate"></span></p>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Item & Description</th>
                                <th class="text-end">Amount ($)</th>
                            </tr>
                        </thead>
                        <tbody id="invoiceItems">
                            <tr>
                                <td>1</td>
                                <td>Consultation Fee</td>
                                <td class="text-end" id="doctorConsultationFee"></td>
                            </tr>
                           
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-end"><strong>Sub Total</strong></td>
                                <td class="text-end" id="subTotalFee"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-end"><strong>Tax (5%)</strong></td>
                                <td class="text-end " id="tax"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-end text-dark"><strong>Total</strong></td>
                                <td class="text-end text-dark fw-bold" id="totalFee"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="mt-3">
                    <small class="mb-0"><strong>Notes:</strong> Thank you for choosing CareSlot. We wish you a speedy recovery!</small>
                </div>
            </div>

            <div class="modal-footer border-top-0">
                <button class="btn btn-secondary rounded-3" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary rounded-3" id="downloadInvoice">Download Invoice</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>


<script>
    $(document).ready(function(){
    $(document).on("click", ".viewDetails", function (event) {
        event.preventDefault();
            var id=$(this).data('id');

            $.ajax({
                type:'get',
                url:'/Appointment/ViewDetails',
                dataType:'json',
                data:{id:id},
          success: function (response) {
          if (response.success) {

            if (response.doctorName) {
                  $("#viewDoctor").text(" Dr. "+response.doctorName);
            } else {
                $("#viewDoctor").text("N/A");
            }
            if (response.patientName) {
                        $("#viewPatient").text(response.patientName);
            } else {
                $("#viewPatient").text("N/A");
            }

             if (response.date) {
                $("#viewDate").text(new Date(response.date).toLocaleString());
            } else {
                $("#viewDate").text("N/A");
            }

            let statusText = "Unknown";
                if (response.status === 0)
            {
                statusText = "Pending";
                } else if (response.status === 1)
            {
                statusText = "Confirmed";

                } else if (response.status === 2)
            {
                statusText = "Cancelled";
                } else if (response.status=== 3)
            {
                statusText = "Completed";
            }
            $("#viewStatus").text(statusText);

            if (response.notes)
            {
                $("#viewNotes").text(response.notes);
            } else
            {
                $("#viewNotes").text("No notes provided");
            }

            if (response.createdAt)
            {
                $("#viewCreatedAt").text(new Date(response.createdAt).toLocaleString());
            } else
            {
                $("#viewCreatedAt").text("N/A");
            }

            if (response.updatedAt)
            {
                $("#viewUpdatedAt").text(new Date(response.updatedAt).toLocaleString());
            } else
            {
                $("#viewUpdatedAt").text("N/A");
            }
                if (response.fees)
                {
                    $("#viewFees").text(response.fees+" $");
                } else
                {
                        $("#viewFees").text("N/A");
                }
                if (response.mode)
                {
                        $("#viewMode").text(response.mode);
                }
                else
                {
                        $("#viewMode").text("N/A");
                }

            $("#viewAppointmentModal").modal("show");
        }
        else
        {
            alert("Appointment not found.");
        }
            },
            error:function()
            {
                alert("Appointment data fetching error");
            }
       });
    });
    $(document).on("click", ".editAppointment", function (event) {
        event.preventDefault();

        var id=$(this).data('id');
        $.ajax({
            type:'get',
            url:'/Appointment/Edit',
            data:{id:id},
            dataType:"json",
            success:function(response){
                if(response.success)
                {
                    $("#editDoctorId").val(response.doctorId);
                    $("#editPatientId").val(response.patientId);
                    $("#editAppointmentId").val(response.appointmentId);
                    $("#editStatus").val(response.status);
                    $("#editDoctorName").val(response.doctorName);
                    $("#editPatientName").val(response.patientName);
                    $("#editSpecialization").val(response.specialization);
                    $("#editDate").val(response.date);
                    $("#editNotes").val(response.notes);
                 $("#editAppointmentModal").modal("show");

                }
            },
            error:function()
            {
                showToast("error","Error fetching data");
            }
        });
    });
     $("#editAppointmentForm").on("submit", function (event) {
            event.preventDefault();

            var formData = {
                AppointmentId:parseInt($("#editAppointmentId").val()),
                DoctorId: parseInt($("#editDoctorId").val()),
                PatientId: parseInt($("#editPatientId").val()),
                Date: $("#editDate").val() || null,
                Notes: $("#editNotes").val(),
                Status: 0,
                AppointmentType:$("#editMode").val()
            };

            $.ajax({
                type:'POST',
                url:'/Appointment/Update',
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    if (res.success) {
                        $("#editAppointmentModal").modal("hide");
                        showToast("success", res.message || "Appointment updated successfully.", function () {
                            location.reload();
                        });
                    } else {
                        showToast("error", res.message || "Appointment updated failed.", function () {
                            location.reload();
                        });
                    }
                },
                error: function () {
                    showToast("error", "Error updating appointment.", function () {
                        location.reload();
                    });
                }
            });
        });
          $("#saveFilters").on("click",function(event){
            event.preventDefault();

            var changes={
                Status: $("#filterStatus").val() ? parseInt($("#filterStatus").val()) : null,
                Mode: $("#filterMode").val() ? $("#filterMode").val() :null
            };

            $.ajax({
                type:'POST',
                url:'/Patient/PatientMyAppointmentsApplyChanges',
                data: JSON.stringify(changes),
                contentType: "application/json; charset=utf-8",
                success: function (partialViewHtml) {
                    $("#appointmentList").html(partialViewHtml);
                },
                error: function () {
                showToast("error","Something went wrong while filtering.");
                }
            });
        });

        $("#resetFilters").on("click",function(event){
            event.preventDefault();

            $("#filterMode").val("");
            $("#filterStatus").val("");

            var changes={
                Mode:null,
                Status: null
            };

            $.ajax({
                type:'POST',
                url:'/Patient/PatientMyAppointmentsApplyChanges',
                data: JSON.stringify(changes),
                contentType: "application/json; charset=utf-8",
                success: function (partialViewHtml) {
                    $("#appointmentList").html(partialViewHtml);
                },
                error: function () {
                    showToast("error","Something went wrong while filtering.");
                }
            });
        });
         $(document).on("click", ".payNow", function (event) {
        event.preventDefault();

        var id=$(this).data('id');
        $.ajax({
            type:'get',
            url:'/Invoice/GetInvoice',
            data:{id:id},
            dataType:"json",
            success:function(response){
               if (response.success) {
                $("#invoicePatientName").text(response.patientName);
                $("#invoicePatientAddress").text(response.patientAddress);

                let invoiceDate = new Date(response.date);
                $("#invoiceDate").text(invoiceDate.toLocaleDateString());

                let dueDate = new Date(invoiceDate);
                dueDate.setDate(dueDate.getDate() + 3);
                $("#invoiceDueDate").text(dueDate.toLocaleDateString());

                let fee = parseFloat(response.fee) || 0;
                let tax = fee * 0.05;
                let total = fee + tax;

                $("#doctorConsultationFee").text(fee.toFixed(2));
                $("#subTotalFee").text(fee.toFixed(2));
                $("#tax").text(tax.toFixed(2));
                $("#totalFee").text(total.toFixed(2));

                $("#invoiceModal").modal("show");
            }
            },
            error:function()
            {
                showToast("error","Error fetching data");
            }
        });
    });
        $(document).on("click", "#downloadInvoice", function () {
    const jsPDF = window.jspdf.jsPDF;

        html2canvas(document.querySelector("#invoiceModal .modal-body")).then(canvas => {
            const imgData = canvas.toDataURL("image/png");
            const pdf = new jsPDF("p", "mm", "a4");

            const pdfWidth = pdf.internal.pageSize.getWidth();
            const pdfHeight = (canvas.height * pdfWidth) / canvas.width;

            pdf.addImage(imgData, "PNG", 0, 0, pdfWidth, pdfHeight);
            pdf.save("Invoice.pdf");
        });
    });
    });
</script>
